* {
    box-sizing: border-box;
}



/* Restaurant.js */
.set-background{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(233, 241, 243);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
   
    
}
.food-tile{
    height: 25%;
    display: flex;
    background: transparent;
    margin-top: 35px ;
    margin-left: 30px;
    border: 1px solid rgb(186, 188, 199) ;


}

.img{
    width: 13rem;
    height: 9rem;
    margin: 15px 20px 0 70px;
    border: 3px solid rgb(191, 150, 74) ;
}

.item-info{
    
}

/* header{
    display: flex ;
    flex-wrap: wrap;
    width: ;
} */

.title{
   
    white-space: nowrap;
    overflow: visible;
    text-overflow: clip;
    padding-left: -5px;
    margin-left: 10px;
}

.price{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin: -43px 10px 10px 83%;
    padding: 8px 0 0 12px;
    color:rgb(191, 150, 74);
    font-weight: 500;
    font-size: 18px;
}

.underline-food{
    width: 90%;
    height: 2px;
    background: rgb(188, 191, 204);
    margin: -23px 0 20px 10px;
    
}
 
.desc{
    width: 300px;
    height: 75px;
    background: transparent;
    font-size: 12px;
    font-weight: 500;
    color: black;
    margin: -10px 0 0 0;
    padding: 5px 0 0 10px;
}

/* .item-info.category{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: whitesmoke;
    margin: 10px 0 20px 110px;
    padding: 5px 5px -10px 20px;
    font-size: 20px;
    font-weight: 600;
    color: deeppink;
} */

/* menu-section */

.menu-section{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    
    
    
}
.menu-title{
    font-size: 22px;
    
}
.underline1{
    width: 15%;
    height: 4px;
    background: rgb(191, 150, 74);
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: -20px;
    margin-bottom: 30px;
}


/* categories.js */

.btn-containers{
    width:fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.menu-btn{  
    border: 0px;
    background: #fff;
    padding: 8px 16px;
    border-radius: 10px;
    color: rgb(191, 150, 74);
    font-size: 18px;
    font-weight: 600;
    
}
.menu-btn:hover{
    box-shadow: inset -1px -1px 0px 25px rgb(191, 150, 74);
    color: #fff;
}
    

