*{
    box-sizing: border-box;
}
.review-main-bg{
    


}
.review-container{
    width: 100vh;
    height: 100%;
    background: rgb(234, 234, 237);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 50px;
    box-shadow: 2px 4px 3px #b5b4b4;
    border-radius: 10px;
}

.review-title{
    font-size: 26px;
    color: rgba(77, 60, 177, 0.99);
    text-align: center;
    margin-top: 40px;
    padding: 20px 5px -2px 5px;
    margin-top: 20px;
}

.heading-text{
    margin-top: 50px;
}
.review-underline {
    width: 20%;
    height: 3px;
    background: rgba(77, 60, 177, 0.99);
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: -20px;
}
/* REVIEWlIST BEGINS HERE */
.img-review .person-img{
    
   width: 160px;
   height: 160px;
   border-radius: 90px;
   margin-top: 25px;
   margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow:  5px -5px 1px 5px rgb(145, 17, 115);
   
}

.img-review .quote-icon{
    width: 40px;
    height: 40px;
    background-color: rgb(145, 17, 115);
    border-radius: 25px;
    color: whitesmoke;
    font-size: 20px;
    position: relative;
    left: 200px;
    top: 80px;
    padding-top: 10px;
    padding-left: 10px
}

.review-author{
    color: rgb(145, 17, 115);
    font-size: 20px;
    text-align: center;

}

.review-job{
    color: rgb(145, 17, 115);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-top: -15px;
}

.review-text{
    color: rgba(77, 60, 177, 0.99);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-justify: distribute-all-lines;
    margin-top: -5px;
    padding: 10px 25px;
}

.btns-container{
   display: grid;
   align-items: center;
}

.direction-btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.review-left-btn{
    border: none;
    font-size: 25px;
    background: transparent;
    color: rgb(145, 17, 115);
    padding: 10px;
}
.review-left-btn:hover{
    /* box-shadow: inset -1px -1px 0px 25px rgba(100, 148, 237, 0.627); */
    color: rgba(77, 60, 177, 0.99);
    
}
   

.review-right-btn{
    border: none;
    font-size: 25px;
    background: transparent;
    color: rgb(145, 17, 115);
    padding: 10px;
}

.review-right-btn:hover{
    /* box-shadow: inset -1px -1px 0px 25px rgba(100, 148, 237, 0.627); */
    color: rgba(77, 60, 177, 0.99);
    
}

.random-btn{
    width: 20%;
    border: 0px;
    font-size: 16px;
    font-weight: 600;
    background: rgba(77, 60, 177, 0.99);
    color: whitesmoke;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    padding: 8px 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -5px;


}
.random-btn:hover{
    box-shadow: inset -1px -1px 0px 25px rgb(145, 17, 115);
    color: white;
    
}
   .review-space{
    margin-top: 20px;
   } 